*:focus {
    outline: none;
}

.avatar-body {
    height: 600px;
    width: 400px;
    background-color: #0099ff;
    font-family: "Roboto", sans-serif !important;
}

.profile-photo {
    background-color: black;
    border-style: solid;
    border: 2px 1px;
    border-color: white;
    width: 80px;
    height: 80px;
    background-image: url("../resources/foto.png");
    background-repeat: no-repeat;
    background-position: center;
}

.profile-area {
    background-color: #73e000;
    height: 100px;
    padding-top: 10px;
    padding-left: 10px;
    text-align: left;
}

.profile-info {
    width: 150px;
}

.profile-table {
    vertical-align: top;
}

.profile-name {
    padding-left: 8px;
    font-weight: bold;
    font-size: 30px;
}

.profile-age {
    padding-left: 8px;
    font-size: 22px;
}

.profile-level {
    line-height: 80px;
    padding-left: 80px;
    font-size: 30px;
    background-image: url("../resources/level-circle.png");
    background-repeat: no-repeat;
    background-position: 56px center;
    background-size: 50%;
    width: 50px;
    display:block;
}

.abilities-area {
    padding-top: 20px;
    padding-left: 12px;
    height: 440px;
}

.abilities-info-area {
    text-align: left;
    margin-bottom: 10px;
}

.abilities-info-label {
    padding-left: 70px;
    font-weight: bold;
    font-size: 18px;
}

.abilities-search-area {
    vertical-align: top;
}

.abilities-search {
    width: 312px;
    height: 30px;
    font-size: 20px;
    padding-left: 5px;
    border: 0px;
}

.abilities-search-button {
    height: 32px;
    width: 44px;
    border: 0px;
    font-size: 20px;
    font-weight: bold;
    background-color: #73e000;
}

.abilities-tag-area {
    padding-top: 10px;
    height: 280px;
    overflow-y: auto;
}

.abilities-tag {
    background-color: green;
    padding-left: 12px;
    padding-right: 8px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    float: left;
    vertical-align: middle;
}

.abilities-tag-close-button {
    height: 16px;
    width: 25px;
    border: none;
    background-color: transparent;
    color: black;
    font-weight: bold;
    vertical-align: top;
    padding-top: 2px;
    text-align: right;
    padding-right: 5px;
}

.abilities-ok-area {
    text-align: left;
    padding-left: 5px;
}

.abilities-ok-button {
    width: 170px;
    height: 40px;
    border: none;
    font-weight: bold;
    font-size: 20px;
    background-color: #73e000;
}

.part-change-area {

}

.part-change-button {
    width: 25px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../resources/ball.png");
    background-color: transparent;
    background-size: 50%;
    border: none;
}

.part-change-clicked {
    width: 25px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../resources/ball.png");
    background-color: transparent;
    background-size: 120%;
    border: none;
}

.priorities-area {
    padding-top: 20px;
    padding-left: 12px;
    height: 440px;
}

.priorities-ok-area {
    text-align: left;
    padding-left: 5px;
}

.priorities-ok-button {
    width: 170px;
    height: 40px;
    border: none;
    font-weight: bold;
    font-size: 20px;
    background-color: #73e000;
}

.priorities-info-area {
    text-align: left;
    margin-bottom: 10px;
    height: 352px;
}

.priorities-info-label {
    padding-left: 60px;
    font-weight: bold;
    font-size: 18px;
}

.priorities-table {
    padding-top: 50px;
    padding-left: 50px;
}

.missions-area {
    padding-top: 20px;
    padding-left: 12px;
    height: 440px;
}

.missions-ok-area {
    text-align: left;
    padding-left: 5px;
}

.missions-ok-button {
    width: 170px;
    height: 40px;
    border: none;
    font-weight: bold;
    font-size: 20px;
    background-color: #73e000;
}

.missions-info-area {
    background-color: #00C4D9;
    border: 2px solid white;
    border-radius: 5px;
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: 350px;
    margin-bottom: 10px;
    overflow-y: scroll;
    text-align: left;
    width: 350px;
}

.missions-info-button {
    background-color: green;
    border: 3px solid white;
    border-radius: 100px;
    font-size: 30px;
    color: white;
    height: 100%;
    width: 100%;

}

.missions-info-field {
    background-color: #00C4D9;
    border: 2px solid white;
    border-radius: 5px;
    width: 350px;
}

.missions-info-label {
    padding-left: 24px;
    font-weight: bold;
    font-size: 18px;
}

#item0, #btn00, #btn01 { background: #0099FF; }
#item1, #btn10, #btn11 { background: #003A69; }
#item2, #btn20, #btn21 { background: #2eb135; }
#item3, #btn30, #btn31 { background: #73e000; }
#item4, #btn40, #btn41  { background: #00C4D9; }

#img_tri {
    height: 19px;
    vertical-align: middle;
}

#btn {
    background-color: Transparent;
    border: none;
    padding-left: 2px;
    padding-right: 0px;
    vertical-align: middle;
}

#item0, #item1, #item2, #item3, #item4, #btn {
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    font-size: 21px;
    vertical-align: middle;
}

#item0, #item1, #item2, #item3, #item4 {
    padding-left: 10px;
    padding-right: 15px;
}

#interest_list {
    border-collapse: collapse;
    border: 2px solid white;
}
