#item0 { background: #0099FF; }
#item1 { background: #003A69; }
#item2 { background: #2eb135; }
#item3 { background: #73e000; }
#item4 { background: #00C4D9; }

#btn_tri {
    height: 14px;
}

#btn {
    background-color: Transparent;
    border: none;
    padding-left: 0px;
    padding-right: 0px;
}

#item0, #item1, #item2, #item3, #item4 {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 15px;
    font-color: #000000;
}

#interest_list {
    border-collapse: collapse
}
