html {
    padding: 0px;
    margin: 0px;
}

body {
    padding: 0px;
    margin: 0px;
}

.phone-top {
    background-image: url("../resources/top.png");
    background-size: 400px;
    width: 400px;
    height: 26px;
}

.phone-body {
    height: 600px;
    width: 400px;
    background-color: white;
}

.phone-bottom {
    background-image: url("../resources/bottom.png");
    background-size: 400px;
    width: 400px;
    height: 44px;
}
