html {
    padding: 0px;
}

body {
    padding: 0px;
    margin: 0px;
}

.center {
    margin: auto;
    width: 50%;
}

.phone-top {
    background-image: url("../resources/top.png");
    background-size: 400px;
    width: 400px;
    height: 26px;
}

.phone-body {
    height: 600px;
    width: 400px;
    background-color: #0099ff;
    font-family: "Roboto", sans-serif !important;
}

.phone-bottom {
    background-image: url("../resources/bottom.png");
    background-size: 400px;
    width: 400px;
    height: 44px;
}
