@font-face {
    font-family: 'Roboto';
    src: url('../resources/Roboto.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    padding: 0px;
}

body {
    padding: 0px;
    margin: 0px;
}

.button-enter {
    border: none;
    background-color: #73e000;
    font-family: "Roboto" !important;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 3px 3px #2EB135;
    height: 50px;
    width: 200px;
}

button:focus {
    outline: none;
}

input:focus {
    outline: none;
}

table td, table td * {
    vertical-align: top;
}

.center {
    margin: auto;
    text-align: center;
    width: 50%;
}

.phone-top {
    background-image: url("../resources/top.png");
    background-size: 400px;
    width: 400px;
    height: 26px;
}

.phone-body {
    line-height: 600px;
    height: 600px;
    width: 400px;
    background-color: #0099ff;
    font-family: "Roboto", sans-serif !important;
}

.phone-bottom {
    background-image: url("../resources/bottom.png");
    background-size: 400px;
    width: 400px;
    height: 44px;
}
