table, th, td {
    background-color: #00C4D9;
    border: 2px solid white;
    border-radius: 5px;
    line-height: 20px;
    font-size: 12px;
    width: 350px;
}

.backInv {
    margin-left: 25px;
    margin-bottom: 80px;
}

.map-area {
    background-position: 60% 20%;
    background-repeat: no-repeat;
    background-image: url("../resources/map.png");
    height: 600px;
}

.map {
    height: 460px;
    margin: 20px;
}

.menu-body {
    line-height: 70px;
    height: 600px;
    width: 400px;
    background-color: #0099ff;
    font-family: "Roboto", sans-serif !important;
    font-weight: bold;
    font-size: 20px;
}

.menu-button-help {
    border: none;
    background-color: transparent;
    height: 30px;
    font-family: "Roboto", sans-serif !important;
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;
    width: 100%;
}

.menu-cell-help-item
{
    height: 10px;
    line-height: 10px;
    width: 15%;
}

.menu-cell-help-text
{
    color: black;
    height: 10px;
    line-height: 15px;
    width: 85%;
}

.menu-experience {
    background-color: transparent;
    border: none;
    height: 30px;
    line-height: 20px;
}

.menu-experience-bar {
    background-color: #00C4D9;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    height: 10px;
    width: 300px;
}

.menu-icon {
    background-color: transparent;
    border: none;
    border-radius: 25px;
    height: 40px;
}

.menu-icon-selected {
    background-color: transparent;
    border: none;
    border-radius: 35px;
    height: 70px;
}

.menu-table-help {
    display: block;
    font-size: 20px;
    height: 420px;
    line-height: 20px;
    overflow-y: scroll;
    text-align: left;
    width: 350px;
}

.menu-table-help-panel-1 {
    background-color: #00C4D9;
    border: 2px solid white;
    border-radius: 5px;
    color: black;
    font-size: 12px;
    line-height: 20px;
    text-align: left;
    width: 100%;
}

.menu-table-help-panel {
    border: none;
    background-color: transparent;
    color: black;
    font-size: 12px;
    line-height: 20px;
    text-align: left;
    width: 100%;
}

.menu-table-quests{
    display: block;
    height: 250px;
    line-height: 20px;
    text-align: left;
    overflow-y: scroll;
    width: 350px;
}

.menu-table-notifications {
    height: 100px;
    line-height: 20px;
    text-align: left;
    width: 350px;
}

.menu-table-selection {
    position: absolute;
    top: 80%;
    left: 8%;
    background-color: transparent;
    border: none;
}

.menu-table-title {
    background-color: #73e000;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
}

.inv_item {
    vertical-align: middle;
    border-radius: 20px;
}
