table, th, td {
    background-color: #00C4D9;
    border: 2px dashed grey;
    border-radius: 5px;
    font-size: 12px;
    width: 350px;
}

.menu-body {
    line-height: 70px;
    height: 600px;
    width: 400px;
    background-color: #0099ff;
    font-family: "Roboto", sans-serif !important;
    font-weight: bold;
    font-size: 20px;
}

.menu-icon {
    background-color: transparent;
    border: none;
    border-radius: 25px;
    height: 40px;
}

.menu-icon-selected {
    background-color: transparent;
    border: none;
    border-radius: 35px;
    height: 70px;
}

.menu-table-quests{
    display: block;
    height: 250px;
    line-height: 20px;
    text-align: left;
    overflow-y: scroll;
    width: 350px;
}

.menu-table-notifications {
    height: 100px;
    line-height: 20px;
    text-align: left;
    width: 350px;
}

.menu-table-selection {
    background-color: transparent;
    border: none;
}

.menu-table-title {
    background-color: #007676;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
}